body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d2ebf9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
}

header, footer {
    background-color: #00b3a4;
    color: white;
    text-align: center;
    padding: 1rem;
}

header {
    height: 70px;
}

footer {
    height: 70px;
}

.main {
    display: flex;
    flex: 1;
    gap: 10px;
}

aside {
    background-color: #66cc75;
    color: white;
    padding: 1rem;
    width: 25%;
}

article {
    background-color: #ffb24d;
    color: white;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    text-align: center;
    margin: 0;
    margin-top: 35%;

}

.images {
    display: flex;
    justify-content: space-between;
    
    gap: 10px;
}

.image{
    margin-top: 5%;
    background-color: #ffcb60;
    text-align: center;
    padding: 2rem 0;
    height: 100px;
    flex: 1;
}
